.main-container {
  position: relative;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../imgweb/logo7.JPG');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1; /* Assurez-vous que l'image de fond est en arrière-plan */
}

